# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\全栈\后\day4_pb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
